@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: wolf1;
  src: url(./assets/file.woff2);
}
@font-face {
  font-family: wolf2;
  src: url(./assets/file1.woff2);
}
@font-face {
  font-family: wolf3;
  src: url(./assets/file2.woff2);
}
@font-face {
  font-family: wolf4;
  src: url(./assets/file3.woff2);
}
@font-face {
  font-family: wolf5;
  src: url(./assets/file4.woff2);
}
@font-face {
  font-family: wolf6;
  src: url(./assets/madefor-text.var.original.woff2);
}

#page1-in{
  position: relative;
  perspective: 2000px;
}
#Page2Div{
  position: relative;
  perspective: 3000px;
}
#page5Div{
  position: relative;
  perspective: 3000px;
}
