.Notification{
    padding: 10px;
    color: black;
    display: flex;
    align-items: center;
    gap: 4vw;
    width: fit-content;
    height: 3vw;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgb(205, 198, 198);
}

.info{
    background-color: rgb(255, 230, 0);
    color: white;
}
.success{
    background-color: rgb(40, 232, 53);
    color: white;

}
.warning{
    background-color: rgb(254, 185, 65);
    color: white;

}
.error{
    background-color: rgb(255, 0, 0);
    color: white;

}
.closeBtn{
    cursor: pointer;
}