@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px); /* Slide in from the left */
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(20px); /* Slide in from the right */
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInTop {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Slide in from the top */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInBottom {
    from {
        opacity: 0;
        transform: translateY(20px); /* Slide in from the bottom */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0); /* Original position */
    }
    to {
        opacity: 0;
        transform: translateX(-20px); /* Slide out to the left */
    }
}

.Notification {
    padding: 10px;
    color: black;
    display: flex;
    align-items: center;
    gap: 4vw;
    width: fit-content;
    height: 2vw;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgb(205, 198, 198);
}

.Notification.left {
    animation: slideInLeft 0.5s ease forwards;
}

.Notification.right {
    animation: slideInRight 0.5s ease forwards;
}

.Notification.top {
    animation: slideInTop 0.5s ease forwards;
}

.Notification.bottom {
    animation: slideInBottom 0.5s ease forwards;
}

/* Exit animation */
.Notification.exit {
    animation: slideOut 0.5s ease forwards;
}


/* Additional styles for notification types */
.info {
    background-color: rgb(45, 190, 234);
    color: white;
}

.success {
    background-color: rgb(40, 232, 53);
    color: white;
}

.warning {
    background-color: rgb(254, 185, 65);
    color: white;
}

.error {
    background-color: rgb(255, 0, 0);
    color: white;
}

.closeBtn {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.closeBtn:hover {
    opacity: 0.8;
}


